<!DOCTYPE html>
!!!
%html
  %head
    %title= "Some Title"
    = stylesheet_link_tag( "application", :media => "all" )
    = csrf_meta_tags
  %body
    #content
      = yield
    = javascript_include_tag( "application" )
